[2021-02-19 16:27] arbrandes opened #1 "Community support"
Duties include:

* Assist with moderating [the forum](discuss.openedx.org/)
* Periodically answer questions in the forum or [on Slack](https://openedx.slack.com)

[2021-02-19 16:31] arbrandes opened #2 "Organize online community meetups"
https://openedx.atlassian.net/wiki/spaces/COMM/pages/590184858/Online+Community+Meetups

[2021-02-19 16:32] arbrandes opened #3 "Organize the contributor's meetup"
https://discuss.openedx.org/t/open-edx-contributors-meetup/1450
https://openedx.atlassian.net/wiki/spaces/COMM/pages/1198719885/Contributors+Meetup

The meetup organizer is also tasked as [the board](https://github.com/openedx/community-wg/projects/1#card-55287233)'s triager.  (I.e., managing and refining the tasks on the board.)

[2021-02-19 16:34] arbrandes opened #4 "Organize Build-Test-Release working group meetings"
https://discuss.openedx.org/t/build-test-release-working-group-biweekly-meetup/2789

[2021-02-19 16:44] arbrandes opened #5 "Hook based extensions proposal"
@felipemontoya proposes:

https://docs.google.com/document/d/1jhnudz6AVtVt0ZSRSwOwj9gJ0lsDDn_8mUCPehLPzLw/edit#heading=h.vo2ywbxdhh5

[(Original issue)](https://trello.com/c/BCJpY06R)

[2021-02-19 16:50] arbrandes commented on #5
@feanil is taking on the review of this from the edX side.

[2021-02-19 16:53] arbrandes opened #6 "Review Open edX Roadmap"
The community should review the [Open edX Roadmap](https://openedx.atlassian.net/secure/RapidBoard.jspa?rapidView=657&projectKey=OEROADMAP)

[2021-02-19 16:59] arbrandes opened #7 "Participate in the doc-a-thon"
The group should spread the word and continuing to participate in the [doc-a-thon](https://tinyurl.com/doc-a-thon-2021).

Potential assignees:
* @robrap
* @regisb

[2021-02-19 17:00] felipemontoya commented on #5
This also has a OEP now (https://github.com/edx/open-edx-proposals/pull/184)

[2021-02-19 17:10] arbrandes opened #8 "Establish criteria for the new standard installation"
The objective of this task is to decide how to move forward with a community-owned standard installation method: what technologies will be used, will any existing projects be used (such as Tutor), etc.

The resulting ADR is currently undergoing community evaluation:

https://github.com/edx/open-edx-proposals/pull/178

[2021-02-19 17:12] arbrandes opened #9 "Write biweekly build-test-release updates"
Such as [this one](https://discuss.openedx.org/t/build-test-release-biweekly-2021-02-15/4300).

[2021-02-19 17:21] arbrandes opened #10 "Sysadmin dashboard conversion ADRs"
@pdpinch has produced two preliminary ADRs on the subject:

https://github.com/edx/edx-platform/pull/23697
https://github.com/edx/edx-platform/pull/24048

[(Original issue)](https://trello.com/c/vkXNSu2X)

[2021-02-19 17:22] arbrandes commented on #10
@pdpinch, I think the description is missing the end goal, here.  Or is this complete?

[2021-02-19 17:26] arbrandes opened #11 "Common onboarding courses"
Multiple community members (edX, OpenCraft, eduNext, etc.) have their own version of an onboarding course to Open edX. Some of it is internal and specific to each organization, but some of it could be pulled together in a shared onboarding course.

Under discussion in [#dev-onboarding](https://openedx.slack.com/archives/C01ACF5039Q)

[(Original issue)](https://trello.com/c/PLpS7Xwb)

[2021-02-19 17:34] arbrandes opened #12 "Coordinate community training development"
The community needs more training opportunities on how to get started on Open edX as a developer, dev ops, product manager, etc.  Ideas for further tasks on training materials:

- Online training (video)
- Online documentation (example: https://training.plone.org/5/
- How to guides (for Authors, Staff member)
- How to for contributors
- IRC channel
- Support on Forum sites like Discourse, Slack. e

[2021-02-19 17:43] arbrandes opened #13 "Coordinate the Core Contributor Program"
Assist in coordinating the [Core Committer Program](https://github.com/orgs/edx/projects/1).

[2021-02-19 17:54] arbrandes opened #14 "Community-run Open edX CD"
Run a continuous deployment of Open edX as a way to catch problems with the [Native Installation](https://openedx.atlassian.net/wiki/spaces/OpenOPS/pages/1969455764/Koa+Native+Open+edX+platform+Ubuntu+20.04+64+bit+Installation).

Currently this is undertaken by OpenCraft, where `edx-platform@master` and `edx-platform@koa.master` are deployed periodically using  a subset of the `edx/configuration`

[2021-02-19 17:59] arbrandes opened #15 "Improve community-run Open edX CD"
During the koa.2 tagging process, [an issue was identified](https://openedx.atlassian.net/wiki/spaces/COMM/pages/2373255193/RCA+koa.2) with the current `edx-platform@master` continuous deployment run by OpenCraft.  Essentially, the current process does not run through all the steps in the [Native Installation](https://openedx.atlassian.net/wiki/spaces/OpenOPS/pages/1969455764/Koa+Native+Open+edX+p

[2021-02-19 18:04] arbrandes commented on #14
@0x29a, do we also run this periodically for `open-release/koa.master`?

[2021-02-19 18:09] 0x29a commented on #14
Yes, @arbrandes: https://periodic-build-koa.opencraft.hosting/.

[2021-02-19 18:34] arbrandes opened #16 "Find assignees for all roles in the build-test-release workgroup"
See [this PR](https://github.com/openedx/build-test-release-wg/pull/13) for the associated ADRs and role descriptions.

[2021-02-19 18:42] arbrandes commented on #16
Should this issue live here, or on the BTR board?

[2021-02-19 18:42] arbrandes opened #17 "Contributors Meetup 2021-02-22"
## Date, time, and location

Monday February 22nd 2021, 15:00 UTC ([time converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210222T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n8

[2021-02-19 19:15] arbrandes commented on #8
Spoke to @regisb today about deploying Tutor to k8s and scaling it.  I think I have enough to build a decent case in the ADR.

[2021-02-22 13:43] OmarIthawi commented on #17
@arbrandes Thanks for sharing. I will be giving a brief about the progress of the introduction course with a mention of the need to pick a good license.

[2021-02-22 13:44] arbrandes commented on #17
Thanks @OmarIthawi, that'd be great! 👍🏼

[2021-02-23 20:36] arbrandes opened #18 "Contributors Meetup 2021-03-08"
## Date, time, and location

Monday March 8th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210308T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g5

[2021-03-04 22:24] antoviaque commented on #6
@nasthagiri @e0d Do we intend to continue the work started with the roadmap? What would be the next steps on this?

PS: Your names don't seem to autocomplete on this org - is there a way to allow that?

[2021-03-04 22:25] antoviaque commented on #7
@arbrandes This seems like something currently in progress?

[2021-03-04 22:26] antoviaque commented on #12
@arbrandes  Probably https://github.com/openedx/community-wg/issues/11 would also qualify as part of this?

[2021-03-04 22:27] antoviaque commented on #15
@arbrandes Any suggestions on this? Would the potential move to Tutor + Docker provide an opportunity to improve this?

[2021-03-04 22:28] antoviaque commented on #5
@arbrandes Shoulds this thus be assigned to @felipemontoya ?

[2021-03-04 22:32] antoviaque commented on #3
@arbrandes Is the management & refinement of the current board included in this role?

Btw, what are the rules/permissions for who can contribute to the tasks themselves? For example, assign them, or move them? I can't do this anymore with the new board for example. It could make sense to let people at least assign themselves to tasks, and move them through the different status?

CC @nasthagiri

[2021-03-04 22:34] antoviaque opened #19 "Organize the marketing working group"

[2021-03-04 22:36] antoviaque commented on #3
@arbrandes Also, what about creating new tasks? I could for example create https://github.com/openedx/community-wg/issues/19 but it doesn't show up on the board.

NB: There would also be a need to create tasks for each of the points from the agenda at https://github.com/openedx/community-wg/issues/18 currently missing as tasks on the board.

[2021-03-04 22:38] robrap commented on #7
If this is about spreading the word for the doc-a-thon, I think @nasthagiri could help provide input on who owns this. I'm no longer actively involved in the effort, except if I need to provide support to someone.

[2021-03-04 22:38] antoviaque commented on #11
@arbrandes Maybe a task to assign to @OmarIthawi ?

[2021-03-04 22:39] antoviaque commented on #16
@arbrandes This would be more of an internal BTR task I think? Also, this looks done now right?

[2021-03-04 22:45] antoviaque commented on #3
@arbrandes And last, a few tasks from the old Trello board that might be worth moving here too:
* https://trello.com/c/yFPFHaQR/66-contributor-t-shirt (of course)
* https://trello.com/c/gPfcC94G/108-mfe-theming-styling-oep

[2021-03-05 00:16] felipemontoya commented on #5
I can take the assignment. Does this mean I should be reporting updates here?

[2021-03-08 13:28] pdpinch commented on #18
Agenda Item: we recently discovered what we would consider a [breaking change to the grades API](https://github.com/edx/edx-platform/commit/68ec2e184d1b4ed7824954e34c97bef39647ebe2), which was part of the Juniper release. I'd like to discuss a few things:
1. Does anyone else consider this a breaking change?
2. If this is a breaking change, how should it have been communicated?
3. Is there anything

[2021-03-08 17:17] #18 closed

[2021-03-08 17:20] arbrandes opened #20 "Contributor's Meetup 2021-03-23"
## Date, time, and location

Tuesday March 23rd at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210323T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89

[2021-03-08 17:29] #17 closed

[2021-03-08 17:35] arbrandes opened #21 "Create grab-bag board on the core committer project"
Create a board (or lane) on the core committer project so that core committers can easily pick tasks that have been lined up by/for the community.

The first task should be to help achieve 100% toggle documentation (which started with the doc-a-thon).

[2021-03-08 17:39] arbrandes opened #22 "Report back on OpenCraft's MFE theming discovery"
Start March 9th and (possibly) ending March 22nd, OpenCraft will embark on a discovery of how MFE's can be themed.  Report results back to the group.

For reference, [OEROADMAP-13](https://openedx.atlassian.net/browse/OEROADMAP-13) was the original proposal by @bradenmacdonald.

[2021-03-08 17:41] arbrandes opened #23 "Create core committer video"
Create a core committer video to go along with the upcoming blog post.

[2021-03-08 17:42] arbrandes commented on #23
@nasthagiri, can you point me to the existing core committer videos you mentioned in the meeting?  And to the content of the upcoming blog post, so I can get the gist?

[2021-03-15 20:09] arbrandes commented on #22
@xitij2000, mind if I add you as assignee, here?  Mostly to make comms easier.

[2021-03-16 06:59] xitij2000 commented on #22
@arbrandes Definitely.

[2021-03-20 19:17] arbrandes commented on #23
Status update: I haven't had time to do this yet, and I'm taking Mar 22 - Mar 29 off, but I'll get to it when I get back.

[2021-03-20 19:20] arbrandes commented on #22
@xitij2000, do you think you could make the discovery public and and link to it here once it's done?

[2021-03-20 19:21] arbrandes commented on #21
Haven't been able to get to this yet, but will do so when I get back after March 30th.

[2021-03-20 19:23] arbrandes commented on #20
@nizarmah will be leading the meeting since I'll be taking some time off until March 30th.  C/C @antoviaque.

[2021-03-20 19:25] arbrandes commented on #16
That's right - this is totally an internal BTR task.  But I was experimenting with using an issue here as a way to communicate what's happening there.

[2021-03-20 20:09] arbrandes opened #24 "Create a contributor t-shirt"
At https://trello.com/c/JBi4cUB5/56-contributors-meetup-june-4th-agenda it was suggested creating a contributor t-shirt. It could be customized for each contributor, and include things like:

- First PR # merged
- Core committer status (or becoming a core committer would get you the t-shirt?)
- Name
- Etc.

(Original issue on [Trello](https://trello.com/c/yFPFHaQR/66-contributor-t-shirt))

[2021-03-20 20:14] arbrandes commented on #3
@antoviaque, good points.  I invited regular meeting attendees (past and present) that were not already [members of the openedx org](https://github.com/orgs/openedx/people) as triagers.  This will let them do as you suggest.

As for creating new tasks on the board, once created, one has to put them on the "Main" board under the "Projects" heading to the right of the issue description.

I tried to

[2021-03-20 20:24] arbrandes commented on #13
(Apologies for the accidental assignee flapping.)

[2021-03-20 20:25] #7 closed

[2021-03-20 20:26] #16 closed

[2021-03-20 20:30] arbrandes commented on #8
@regisb, as for the Tutor Maintainer's Program, is there anything missing for you to finalize it?  Do you expect the proposal to change in the near future?  Otherwise, I believe the group can start to make noises that we'll accept it provisionally for the Lilac release cycle.

[2021-03-20 20:33] arbrandes commented on #12
@antoviaque, good call.  Linked to it in the description.

[2021-03-20 20:43] arbrandes commented on #15
@antoviaque, for Lilac, I don't see a way for Ocim to do this in time (it assumes database servers will have been already provisioned).  If you feel OpenCraft should contribute something in this direction I can look into some simple automation to achieve it.  Basically:

* Fire up a suitably large VM every day
* Run the few commands specified in [the Native Installation](https://openedx.atlassian.

[2021-03-20 20:49] arbrandes commented on #7
A note for the next meeting: Natalia [asked on Slack about ideas](https://openedx.slack.com/archives/C01KL48HFNF/p1615947690005800), and I suggested having a monthly doc contribution leaderboard.

[2021-03-20 20:51] arbrandes commented on #5
@felipemontoya, if you could, that would be great.  It would make the meetup that much quicker. :)

[2021-03-21 01:24] antoviaque commented on #20
@arbrandes Sounds good - thank you for finding a backup. And welcome @nizarmah ! Since it will be your first time attending the meeting, it might be worth watching a recording or two of it, to get a feel for what you will need to lead :) I can also help as needed, as I'll be present too.

[2021-03-21 01:27] antoviaque commented on #3
@arbrandes Thank you for creating the tasks!

You mean that there is no solution to allow everyone to move their own tasks through statuses? It feel like a permission issue that really needs solving, it doesn't encourage ownership of tasks.

[2021-03-21 08:37] nizarmah commented on #20
Thanks @antoviaque 😄. Yes, @arbrandes suggested that as well. Unfortunately, I haven't had the time to do that yet, but seems like I'll be able to today!

[2021-03-21 08:39] nizarmah commented on #15
@arbrandes Sure! 👍🏼 I'll make sure to bring it up if there's enough time!

[2021-03-22 10:11] xitij2000 commented on #22
@arbrandes Certainly!

[2021-03-22 10:55] regisb commented on #8
@arbrandes I was actually working on the tutor maintainers program last week and I expect to finalize it this week. Many people have applied already, and I'm eager to get started!

[2021-03-22 23:26] antoviaque commented on #15
@arbrandes Yup, it doesn't need to necessarily be for lilac, but this could be included in the requirements of the move of Ocim to containers, to make sure our solution then allows for this?

[2021-03-23 20:17] #20 closed

[2021-03-23 20:28] nizarmah opened #25 "Contributor's Meetup 2021-04-06"
## Date, time, and location

Tuesday April 6th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210406T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g

[2021-03-23 20:31] nizarmah commented on #25
Hello @arbrandes! 👋🏼 I'll need your help updating the Google Event on the Google Calendar please to include the new issue number for 2021-04-06.

[2021-03-24 08:12] nizarmah commented on #5
Hello @felipemontoya! I was wondering if you're still searching for an Arbiter, and if there's any chance I can help with that. Let me know please! 😃

[2021-03-24 08:19] BbrSofiane commented on #14
The work done on openedx/build-test-release-wg#19 might be useful for this topic.

[2021-03-24 16:51] felipemontoya commented on #5
@nizarmah thanks a lot! That would be great.
I had informally talked with @bradenmacdonald over a coffee break about him being the arbiter. I guess you guys are in close contact. Let me know if you have any preference and I'll update the OEP PR. I should have updated with the latest feedback a few days ago. I'm late there.

[2021-03-30 14:55] arbrandes commented on #3
@antoviaque, ah, no, everybody should have triaging rights, by now.  They'll be able to move their issues along by themselves.

[2021-03-30 18:15] arbrandes commented on #15
@antoviaque, alright, will do.

[2021-03-30 18:19] arbrandes commented on #25
@nizarmah, will do, and thanks a bunch!

[2021-03-31 02:08] antoviaque commented on #3
@arbrandes Perfect then! :) Thank you for taking care of this.

[2021-03-31 13:05] nizarmah commented on #5
@felipemontoya sorry, I ended up missing this notification completely. I thought I'd reply and mention that this was addressed in the [OEP pull request](https://github.com/edx/open-edx-proposals/pull/184#issuecomment-806365738) so that the necessary context is there 👍🏼

[2021-04-06 17:38] arbrandes opened #26 "Contributor's Meetup 2021-04-20"
## Date, time, and location

Tuesday April 20th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210420T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89

[2021-04-06 17:40] #25 closed

[2021-04-12 12:48] pdpinch commented on #10
This issue is complete. The ADRs have been merged, the sysadmin dashboard has been deprecated and is now removed.

We are working on a [plugin](https://github.com/mitodl/edx-sysadmin/) that will replace the sysadmin dashboard's functionality, as outlined in the ADRs.

[2021-04-12 12:48] #10 closed

[2021-04-20 17:22] #26 closed

[2021-04-20 17:24] arbrandes opened #27 "Contributor's Meetup 2021-05-04"
## Date, time, and location

Tuesday May 4th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210504T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g5n

[2021-04-21 19:37] arbrandes commented on #23
I'm targetting this for delivery this week.

[2021-04-25 02:19] antoviaque commented on #24
I've played a bit with the idea on Printful, and I came up with the following draft concepts :) Something we could use at the next in-person Open edX conference for example, to allow people to identify contributors and core committers easily?

Note that the concepts below haven't gone through the expert hands of an actual designer yet -- so this is just a rough concept, to agree on it, especially

[2021-04-25 02:20] antoviaque commented on #22
Here is the link to the forum thread announcing the results: https://discuss.openedx.org/t/open-edx-branding-and-theming-improvements/4747

And the discovery results themselves, which are open to comments: https://gitlab.com/opencraft/dev/branding-and-theming/-/merge_requests/1

CC @xitij2000

[2021-04-25 02:20] antoviaque commented on #11
I have also added a link to the forum thread where the projects descriptions and recent updates have been posted: https://discuss.openedx.org/t/open-edx-engineering-onboarding-courses/4096

[2021-04-26 06:12] pomegranited commented on #24
I think this is a lovely idea! I'd wear my t-shirt with pride.

The "design" works for me too.

Just want to make sure we're not limited to male T-shirt cuts -- lots of different shapes and sizes in this community, and so "unisex" doesn't suit all :)

[2021-04-26 11:55] OmarIthawi commented on #24
@antoviaque if funding is an issue, I think we could set up a free custom print site so everyone will pay their own cost and order it.

Not sure how the cost structure would work, but I know a company in Amman, Jordan (mlabbas.com) that would let us do this:

 - Create a site: https://www.mlabbas.com/page/get-a-store-i-
 - With customization it could become like this https://yazonesdesigns.com/ or

[2021-04-26 16:40] felipemontoya commented on #24
Thanks @antoviaque. This is cool.

I don't know if writing "staff" in the back would make it confusing for people at a conference. Maybe they think we are local staff knowing where to find something that we also have no idea.
Other ideas for the back (besides the Open edX logo):

- Core Contributor
- Expert
- Hardened
- Veteran
- Familiar

[2021-04-27 00:28] antoviaque commented on #24
@pomegranited Good point - what do you think should be the different types of cuts we need to include? I've selected that one because it looked a bit nicer than the usual "straight T t-shirt with one color", but we could definitely have different versions.

@OmarIthawi Thanks for the tip! I'll have a look to compare it there when I do my next pass on this ticket.

@felipemontoya

That was actually

[2021-04-27 01:39] pomegranited commented on #24
@antoviaque

I checked out Printful, and they have a [women's cut version of the one you chose](https://www.printful.com/custom/womens/3-4-sleeve-shirts) that I'd happily wear. Not sure about other people, but maybe we just need to make sure that whatever printing supplier we go with has options?

Yes, I liked that too :) And if we can be more involved  in the conference itself, so we can answer q

[2021-04-27 02:38] felipemontoya commented on #24
I understand now. I also think it would feel nice to be part of the big conference team.

[2021-05-04 14:48] arbrandes commented on #23
And now this week. 😅

[2021-05-04 14:51] arbrandes commented on #9
This is better tracked in the BTR group board.

[2021-05-04 14:51] #9 closed

[2021-05-04 14:52] arbrandes commented on #14
Since you're doing most of the work, here, I'm assigning you @BbrSofiane - hope you don't mind. :)

[2021-05-04 16:35] #27 closed

[2021-05-04 16:42] arbrandes opened #28 "Contributor's Meetup 2021-05-18"
## Date, time, and location

Tuesday May 18th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210518T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g5

[2021-05-13 09:13] nedbat commented on #14
We currently have three efforts: OpenCraft's existing CI, overhang.io's jobs running on GitLab, and @BbrSofiane's GitHub Actions. Is that right?

[2021-05-13 09:19] nedbat commented on #24
I said this in a contributors' meeting, but repeating here to keep it all in one place: I think "Open edX Conference Staff" would be fine, but "Open edX Staff" would be confusing.  And we have to consider the "trademark as adjective" rule.

[2021-05-13 13:39] BbrSofiane commented on #14
Yes

[2021-05-14 03:51] antoviaque commented on #24
@nedbat What do you find confusing about "Open edX Staff"?

Core committers are more than just staff for the Open edX conference, so that would be limiting to use "Open edX Conference Staff" I think -- similarly to the fact that people from edX are staff from the conference just because of being from edX, isn't there something similar about core committers, also being staff at the Open edX confere

[2021-05-14 11:57] sarina commented on #24
I get what you're going for with `Staff` but I also find it a little confusing - I might think that an `Open edX Staff` member is employed by Open edX, rather than being a core community member or staff member _of the conference_. The trademark-as-adjective rule means that "Open edX" modifies its following noun, in a way that I think backs up my interpretation of the phrase.

Just my 2c. I like "O

[2021-05-14 21:57] nasthagiri commented on #24
I'm a bit confused and seeking clarity.
I thought this thread was about creating a T-shirt for Open edX Core Committers.  If so, I don't see why would we add "Conference" at all to this T-shirt.

Why would we not go forth with T-shirts saying "Open edX Core Committer"?

[2021-05-14 21:58] nasthagiri commented on #24
By the way, I love the idea of gifting a newly minted Core Committer with a T-shirt that says they are one now!

[2021-05-15 01:31] antoviaque commented on #24
@sarina @nasthagiri To explain a bit, the main idea with "staff" is to have a name that a broad audience of people understand -- vs "core committer" which might be more difficult for someone without a technical background to relate to. The context of the conference was an example -- so that we could wear it there (among other places, like meetups for example), and everyone would understand that we

[2021-05-15 02:37] sambapete commented on #24
I could even add my 2 cents. I'm currently a "Contributor" but I am still
no "Core Committer". Looking at the definitions and discussions for "Core
Committer' on Confluence by @sarina, I have to wonder if I will still fit
in as a "Core Committer" at some point.

Le ven. 14 mai 2021, à 21 h 31, Xavier Antoviaque ***@***.***>
a écrit :

--
Salutations / Regards ,
Pierre Mailhot, M.Sc., CISSP
514-916

[2021-05-15 15:29] nasthagiri commented on #24
@sambapete I shared with you a [draft of a blogpost](https://docs.google.com/document/d/1FKShKH_SnT3QJxBDNb9Stfem9giqgR0JzrECvD4fJL4/edit?ts=60916dd1#) that we'll soon publish. There, you will see that we plan to expand the Core Committer program to include multiple roles, those who have demonstrated the following:

- **commitment** - continued dedication to the platform
- **conduct** - good judgm

[2021-05-15 15:46] nasthagiri commented on #24
@antoviaque Thanks for the additional context.  ​Yes, it seems there is continued concern of "core committer" not being an approachable term to non-technologists.  And, I am 100% with you on building a collaborative team together!

Just as there is concern about the word "committer" not being widely understood, there is also concern about the connotation of the word "staff".  "Staff" implies worke

[2021-05-15 15:56] sambapete commented on #24
Thanks @nimisha, I will definitely have a look at it. Unfortunately, I
won't be able to attend this week's contributors meeting because of a
scheduling conflict with an internal meeting within EDUlib. But don't
worry, I'll watch the recording as soon as it is made available.

Le sam. 15 mai 2021, à 11 h 29, Nimisha Asthagiri ***@***.***>
a écrit :

--
Salutations / Regards ,
Pierre Mailhot, M.Sc.,

[2021-05-16 09:48] regisb commented on #24
I don't have a strong opinion on this topic but just wanted to suggest "crew" as an alternative, candidate term.

[2021-05-18 11:37] antoviaque commented on #24
@nasthagiri I see what you mean about the word "Staff", it's true that it conveys a part that doesn't fit (workers who serve the needs of others). "Team" could work yes -- I also actually really like your suggestion for "crew" @regisb, which is more specific than "team", without the meaning we want to avoid. Would that one work?

[2021-05-18 12:02] nasthagiri commented on #24
"Crew" works for me.  It may seem more informal than "Team"; I don't have a strong opinion about it.

[2021-05-18 19:06] #28 closed

[2021-05-18 19:08] arbrandes opened #29 "Contributor's Meetup 2021-06-01"
## Date, time, and location

Tuesday June 1st at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210601T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g5

[2021-05-20 11:33] antoviaque commented on #24
Quick note that during the meeting on Tuesday, we discussed going with "Crew", unless further objections were raised here within the next couple of days. If not, we'll move forward to the next step, which will be to get the current concept/content being properly designed, to make it look nice :)

[2021-05-21 00:06] pomegranited commented on #24
I like "Crew" a lot! Great solution.

[2021-05-25 19:58] nasthagiri commented on #13
Adding @sarina.

[2021-06-01 17:53] arbrandes opened #31 "Contributor's Meetup 2021-06-15"
## Date, time, and location

Tuesday June 15th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210615T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g

[2021-06-15 18:26] arbrandes opened #32 "Contributor's Meetup 2021-06-29"
## Date, time, and location

Tuesday June 29th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210629T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g

[2021-06-29 14:12] felipemontoya commented on #32
I would like us to add to the agenda the U2 announcement. https://news.mit.edu/2021/mit-harvard-transfer-edx-2u-0629

[2021-06-29 17:51] arbrandes opened #33 "Contributor's Meetup 2021-07-13"
## Date, time, and location

Tuesday July 13th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210713T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g

[2021-06-29 18:05] #32 closed

[2021-06-29 18:05] #31 closed

[2021-06-29 18:05] #29 closed

[2021-07-12 15:43] arbrandes commented on #33
@pdpinch, certainly!  Done.  (Good idea, too.)

[2021-07-13 17:21] arbrandes opened #34 "Contributor's Meetup 2021-07-27"
## Date, time, and location

Tuesday July 27th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210727T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g

[2021-07-13 17:21] #33 closed

[2021-07-14 03:44] ormsbee commented on #33
Sorry I missed this one, but I just looked through the recording. I just wanted to clarify that performance was not a major factor in deciding to move Blockstore from service to app, and it's not explicitly mentioned in [the ADR](https://github.com/edx/blockstore/blob/master/decisions/0002-app-not-service.rst). The fact that Blockstore stores immutable data and is backed by S3 makes certain kinds

[2021-07-27 19:40] arbrandes opened #35 "Contributor's Meetup 2021-08-10"
## Date, time, and location

Tuesday August 10th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210810T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n8

[2021-07-27 19:41] #34 closed

[2021-07-30 09:41] ali-hugo commented on #24
I've created a design for the T-shirt and would love to hear what you think!

There are two options below, both based on the same design but using different shirts.

### Illustration used on both options
![Illustration](https://user-images.githubusercontent.com/88187719/127634322-59d47580-6ef4-4822-ba3a-462d32899e17.jpg)

## Option 1
#### Front
![Option 1 - Front](https://user-images.githubusercon

[2021-07-30 16:13] sarina commented on #24
I like it! Just a note, "unisex" is not "unisex" - it's _always_ Men's fit which many women (including me!) do not like. It would be more inclusive to use a site that has women's-specific fit.

[2021-08-01 02:28] pomegranited commented on #24
I agree with @sarina  -- there should be an option cut for women.

[2021-08-01 10:12] e0d commented on #24
Having recently not handled this well myself, I'm very supportive of
finding a vendor that can provide women's and men's cuts.

Ideally that vendor could become our go-to for future orders.

On Sun, Aug 1, 2021, 4:28 AM Jillian Vogel ***@***.***> wrote:

[2021-08-02 07:00] ali-hugo commented on #24
Thanks @sarina @pomegranited @e0d

I know exactly what you're saying about men's cuts not fitting well. I found a few cuts specifically for women on Printful (see links below), but unfortunately they don't offer any 3/4 sleeve shirts. Would you prefer a 3/4 sleeve to a short sleeve?

- [Women's Fitted Eco Tee | Stanley/Stella STTW032](https://www.printful.com/custom/womens/t-shirts/womens-fitted-e

[2021-08-02 09:36] pomegranited commented on #24
@ali-hugo  I'd be happy enough with the [Women's Fitted Eco Tee | Stanley/Stella STTW032|https://www.printful.com/custom/womens/t-shirts/womens-fitted-eco-tee-stanley-stella-sttw032], thanks for finding that!

Oh and I neglected to mention: really like the design 😄

[2021-08-02 10:26] ali-hugo commented on #24
Glad you like the design @pomegranited! :)

Thanks for confirming your preferred cut. Let's see if the others agree.

[2021-08-05 20:32] antoviaque commented on #24
@ali-hugo Thanks for the design on this! I love it, and the drawing is nice :)

My favorite version is the second one. The only comment I have is that it might be worth capitalizing CREW -- generally t-shirts displaying this have it capitalized, it will get closer to the feeling we want to get imho: https://www.google.com/search?q=crew+t-shirt&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjZqMzO3JryAhWLKM0

[2021-08-06 13:12] ali-hugo commented on #24
Thanks for your feedback, @antoviaque  👍

I decided the easiest way to get everyone's feedback on the design, as well as the alternate cut, would be by using a poll. Please will everyone take a look through the options below and cast your vote [on this poll](https://l2b40g1fmht.typeform.com/to/CjIAIZhu). Thanks!

---
## Option 1: T-shirt
![Option-1](https://user-images.githubusercontent.com/881877

[2021-08-06 16:11] xitij2000 commented on #35
@arbrandes I'm aiming to attend this meeting if possible and share details on https://github.com/openedx/community-wg/issues/22 if time permits :-)

[2021-08-06 17:19] arbrandes commented on #35
@xitij2000, that would be great!  Adding it in, thanks!

[2021-08-10 18:30] arbrandes opened #36 "Contributor's Meetup 2021-08-24"
## Date, time, and location

Tuesday August 24th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210824T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n8

[2021-08-10 18:32] #35 closed

[2021-08-19 08:35] ali-hugo commented on #24
Hi @arbrandes

I see you have added the contributor t-shirt as an agenda item for the meetup next week. Thanks for that! 🙂
We haven't received much feedback on the [poll](https://l2b40g1fmht.typeform.com/to/CjIAIZhu) yet, so it would be great to remind everyone to cast their vote. Interested to find out the outcome!

[2021-08-30 07:13] ali-hugo commented on #24
@pomegranited @arbrandes

Hi Jill and Adolfo,

An update on the poll: there have been 8 votes with "Option 3: T-shirt with illustration on the front" as the current favourite design, and the "Women's Fitted Eco Tee" as the preferred alternative cut.

Do you know whether there is any urgency for this to be wrapped up? Or should I wait until Xavier is back from leave and follow up with him then?

Th

[2021-08-30 07:23] pomegranited commented on #24
Hi @ali-hugo :) Glad there have been some responses. I don't think there's any urgency, but @arbrandes would know? But I think we can wait for @antoviaque  to return.

[2021-08-30 07:26] ali-hugo commented on #24
Thanks @pomegranited :) I'll see what Adolfo says, but otherwise, I'll just wait 'til Xavier gets back. Have a good week! 🌻

[2021-08-30 13:42] sarina commented on #24
Hi @ali-hugo I pointed out to @arbrandes that the poll requires an answer for the woman's fit shirt, even from those not intending to get the women's fit shirt. Could you run a separate poll just for the women's fit shirt, so those of us who will actually be wearing it can have our voices heard better? Thanks!

[2021-08-30 19:26] arbrandes opened #37 "Contributor's Meetup 2021-09-07"
## Date, time, and location

Tuesday September 7th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210907T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9

[2021-08-30 19:32] #36 closed

[2021-08-31 07:03] ali-hugo commented on #24
Hi @sarina. That makes sense. I've set up a separate poll specifically for the alternate cut, and have removed the question from the original poll (I've saved the votes we've already received just in case). The new polls are below:

# Please cast your vote!
### [Poll 1: Shirt design](https://l2b40g1fmht.typeform.com/to/CjIAIZhu)
Complete **Poll 1** to select the designs you like most

---

### [Po

[2021-09-07 18:37] arbrandes opened #38 "Contributor's Meetup 2021-09-21"
## Date, time, and location

Tuesday September 21st at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20210921T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s

[2021-09-07 18:45] #37 closed

[2021-09-13 17:44] antoviaque commented on #24
@ali-hugo @sarina @pomegranited Thanks for organizing the vote on this! I'm happy to go with the options that come first from the vote, they all look great. Voted!

For after this is decided, any volunteer to coordinate getting the list of contributors, sizes and details for the t-shirts, and to get it shipped? CC @gabrieldamours

[2021-09-14 12:18] ali-hugo commented on #24
Thanks for voting @antoviaque. I'll wait until a volunteer comes forward and will then check which design and alternate cut have received the most votes. That'll give any late voters a little bit of extra time.

[2021-09-14 12:25] gabrieldamours commented on #24
@antoviaque I can handle it, yep. We'd order on Printful, correct?

cc. @ali-hugo

[2021-09-14 12:27] ali-hugo commented on #24
Hi @gabrieldamours,

Yip, Printful was the choice. I'm not exactly sure how the ordering works though. Let me know if you need anything from my side to organise this.

[2021-09-14 12:31] gabrieldamours commented on #24
Thanks @ali-hugo. I'll schedule a task for next week.

[2021-09-22 20:52] #38 closed

[2021-09-22 21:00] arbrandes opened #39 "Contributor's Meetup 2021-10-05"
## Date, time, and location

Tuesday October 5th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20211005T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n8

[2021-09-24 17:27] gabrieldamours commented on #24
@ali-hugo do you have the poll results?

[2021-09-27 06:16] ali-hugo commented on #24
@gabrieldamours It looks like we have a tie for the favourite design:

- Option 2: T-shirt with text in a block
- Option 3: T-shirt with illustration on the front

Have you voted yet? If not, perhaps you could be the deciding vote ([vote here](https://l2b40g1fmht.typeform.com/to/CjIAIZhu)). Otherwise, I can cast a vote.

2 out of the 3 people who voted or their preferred alternate cut, selected th

[2021-09-27 15:41] gabrieldamours commented on #24
Thanks @ali-hugo, I think I hadn't voted yet — done! I'll get started on this, probably by ordering a sample.

[2021-09-28 05:53] ali-hugo commented on #24
Thanks @gabrieldamours. Let me know if you need me to send you the design as a pdf (or similar) for the printers. I haven't quite figured out how Printful orders work...

[2021-10-05 14:18] nizarmah commented on #23
@arbrandes any context you can provide on this? Is it something that should still be done, or not?

[2021-10-05 14:31] arbrandes commented on #23
@nizarmah, the idea was to create a marketing-style video to go with the core contributor program announcement, but I was never able to get something decent made with the time I had available.  Perhaps unsurprisingly, this kind of thing is better done by professionals. :)

It's fine to close this.

[2021-10-05 14:31] #23 closed

[2021-10-06 15:16] nizarmah opened #40 "Contributor's Meetup 2021-10-19"
## Date, time, and location

Tuesday October 19th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20211019T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n

[2021-10-08 14:37] antoviaque commented on #24
@sarina The intent is to have it for core contributors. Though we could also consider non-core contributors, but then have a different title (and maybe t-shirt color?) to reflect the difference.

[2021-10-08 15:34] sarina commented on #24
@antoviaque thanks for the clarification. I wasn't sure as we discussed it in the Contributor's Meetup which isn't restricted to core committers.

[2021-10-11 17:24] gabrieldamours commented on #24
Thanks @ali-hugo. Would you also be able to send the template in .ai or psd, so that I can use it as a template? The Be Vietnam font isn't available in Printful, so I'll need to edit the front designs using another software.

[2021-10-12 07:23] ali-hugo commented on #24
Sure @gabrieldamours. You can access the Illustrator file [here](https://drive.google.com/file/d/1LhRH_B_KFpYbqQLvvi_aRiYOyZWv2Lb4/view?usp=sharing). Please let me know if you need anything else.

P.s. When you receive the test print, please check to see if it would look better if I removed the black outlines from the illustration (so that the black of the shirt shows through, rather than relying

[2021-10-14 16:31] gabrieldamours commented on #24
Sample on the way :)

[2021-10-20 18:02] nizarmah opened #41 "Contributor's Meetup 2021-11-02"
## Date, time, and location

Tuesday November 2nd at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20211102T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n

[2021-10-20 18:41] gabrieldamours commented on #24
I received my sample, and it looks good. The print is of good quality (not ultra top-notch, but good enough).
![PXL_20211020_183348138](https://user-images.githubusercontent.com/33108009/138151900-bb4d7e63-72dc-454a-ac35-45f4c75d0268.jpg)
![PXL_20211020_183314807](https://user-images.githubusercontent.com/33108009/138151903-f3d7a05b-53b3-42d1-9720-96b964d607ac.jpg)

I'll start collecting people's

[2021-10-21 01:04] antoviaque commented on #24
@gabrieldamours Thank you! :D Looks like you've got a special collector edition of the t-shirt :)

For collecting the addresses, since this is specifically for the core contributors, it would be better to reach out directly to the confirmed core committers. @sarina is there an authoritative list somewhere?

[2021-10-21 19:32] antoviaque commented on #13
@sarina I believe you're the one owning this now, right? I'll update the assignee.

[2021-10-21 19:35] antoviaque commented on #1
@nizarmah has also taken over your duties with this @arbrandes so I'm updating the assignee. We have other moderators and people doing community support though, so it might be worth linking to an authoritative list somewhere if we have one.

[2021-10-21 19:40] antoviaque commented on #12
Training efforts are currently more on #11 and nobody is currently actively working on this specific ticket, so I'm moving it back to the backlog.

[2021-10-21 19:42] antoviaque commented on #11
@OmarIthawi Given the pause on your current onboarding course discussed with @nedbat the other day, are you keeping the ownership of this task?

CC @sarina as you had mentioned having points to discuss about the onboarding courses during the last contributors meetup.

[2021-10-21 19:57] antoviaque opened #42 "MFE Theming"
Work to support MFE theming and unify theming in Open edX.

See:
* https://discuss.openedx.org/t/open-edx-branding-and-theming-improvements/4747
* https://gitlab.com/opencraft/dev/branding-and-theming/-/merge_requests/1
* OEROADMAP-13 was the original proposal by @bradenmacdonald.

[2021-10-21 20:09] antoviaque opened #43 "Core contributors sprints - Discovery"
Discuss establishing sprints for core contributors, to follow and prioritize better the 20h+/month/contributor of committed work.

To bring up:
* Is this a good idea?
* Sprint length (2 weeks?)
* Sprint planning meeting (contributors meetup?)
  * Attendance from all core contributors? Or their group chair for core contributors belonging to a specific working group (scrum of scrum, with sprint plan

[2021-10-21 21:11] sarina commented on #43
@antoviaque I think this is a really good idea (if I'm understanding the problem we want to solve correctly), but one that leaves me scratching my head about how to implement it. The problem I think we're solving for is making us, as CCs, feel more cohesive and having a better understanding of what one another is working on. And then from that, join forces to get very meaningful work done more qui

[2021-10-22 00:46] antoviaque commented on #13
@sarina Yup, that's exactly it :) It doesn't involve doing any work you aren't already doing imho.

[2021-11-01 18:36] sarina commented on #11
@antoviaque

I am not super confident in my ability to get that type of content on edx.org, but maybe in the long term. In the nearer term, I would like to see the non-profit stand up a public instance that could host courses: a demo course, these onboarding courses, and the compliance courses for core contributors. We can wait a bit to see how that shakes out, but I _am_ reasonably confident in m

[2021-11-15 21:09] antoviaque opened #44 "Contributor's Meetup 2021-11-16"
## Date, time, and location

Tuesday November 16th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20211116T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9

[2021-11-15 21:11] antoviaque commented on #44
@nizarmah I've cloned the agenda from the last meetup, as @pdpinch was asking about it. Can I let you update it if needed?

Also I think we still need to figure out whether we keep the meeting time, with the timezone changes.

[2021-11-16 09:14] #41 closed

[2021-11-16 11:44] nizarmah commented on #44
@antoviaque done 👍🏼

Also, I apologize to all members regarding the delay.

[2021-11-16 16:03] nizarmah commented on #44
My bad. Moving this back to "In Progress" until the text overview and the recording are provided.

[2021-11-16 16:05] nizarmah opened #45 "Contributor's Meetup 2021-11-30"
## Date, time, and location

Tuesday November 30th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20211130T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9

[2021-11-17 18:30] #44 closed

[2021-11-19 18:45] gabrieldamours commented on #24
T-shirts were sent to every one who submitted their info. Please allow a few weeks for shipping (some countries take longer than others). I'm thinking of closing this task, but where should we indicate that core contributors can receive a free t-shirt? I'm happy to process orders on a regular basis — I get a ping every time someone fills out the form.

[2021-11-19 19:35] sarina commented on #24
@gabrieldamours I think this ticket can be marked as done. When I add new core contributors, I can direct them to your survey.

Question: are we imagining this is only for core contributors who commit code, or for all core contributors in the program (right now we additionally have translators, project managers, and as of today, one UX/UI designer)

[2021-11-19 20:17] ormsbee opened #46 "Test Issue"
Testing Slack integration hooks (will delete)

[2021-11-19 20:17] #46 closed

[2021-11-22 07:48] regisb commented on #24
I think we need a group picture where all core contributors pose with their t-shirts :)

(we should sync our laundry days)

[2021-11-22 14:43] gabrieldamours commented on #24
Perfect, thank you @sarina :)

My assumption is that everybody who signs a Core Contributor Agreement gets a t-shirt. Accordingly, I've sent t-shirts to Non-Technical Contributors as well.

[2021-11-22 14:48] OmarIthawi commented on #24
@gabrieldamours I've hit the "Close issue" button. I can re-open if that's a mistake.

![image](https://user-images.githubusercontent.com/645156/142881840-e795909e-12ed-4f64-b786-cb144b5aec4f.png)

[2021-11-22 14:48] #24 closed

[2021-12-10 01:06] nizarmah opened #48 "Contributor's Meetup 2021-12-21"
## Date, time, and location

Tuesday December 21st at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20211221T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9

[2021-12-10 13:48] antoviaque opened #49 "Upstreaming MOOC - Winter 21 live sprint"
Organize the 2x4h live sprint for the upstreaming onboarding course: gather the multiple contributors of the MOOC all together, to write and edit the MOOC together.

See https://discuss.openedx.org/t/onboarding-courses-learning-to-upstream-mooc/6141/18

[2021-12-10 13:52] antoviaque opened #50 "Moderation of Open edX official forums"
Moderate https://discuss.openedx.org/

List of moderators: https://discuss.openedx.org/g/moderators

[2021-12-10 13:52] antoviaque commented on #50
Who else is a moderator currently?

[2021-12-10 13:57] regisb commented on #50
The full list of moderators is available here: https://discuss.openedx.org/g/moderators

[2021-12-11 01:38] antoviaque commented on #50
@regisb Thanks!

I'm adding it to the description then, to not maintain a separate list, but people can feel free to add/remove themselves as assignees here to reflect their responsibilities in tickets & sprint boards.

[2021-12-12 21:36] #45 closed

[2021-12-12 21:39] nizarmah commented on #48
Hello @dianakhuang! Would any of the deprecation working group members be able to attend the contributor's meetup periodically and provide updates regarding the work the deprecation wg is doing?

If that's not possible, is there any Slack channel or Discourse thread where asynchronous updates are being posted about the working group?

[2021-12-13 14:38] dianakhuang commented on #48
@nizarmah The current meeting time seems to overlap with our existing meeting schedule 😂 , but the slack channel is #depr-slash-n-burn and the page where I post meeting notes is: https://openedx.atlassian.net/wiki/spaces/AC/pages/2555445604/DEPR+Meeting+Notes+2021

[2021-12-14 00:19] sarina commented on #48
@dianakhuang - actually it doesn't overlap (1500 UTC, not EST) - it would be good if someone from the team could try to attend every so often to give an update, as having a rep present allows us to ask questions. Perhaps at the next meeting the group could decide who could attend this meeting (even part of it would be fine!)

[2021-12-14 18:38] dianakhuang commented on #48
@sarina , whoops, you're right that I was reading it incorrectly. I'll see if we can get someone to go next week, and then we can talk about who should go going forward.

[2021-12-16 19:33] sarina commented on #50
Hey! Before I move forward with organizing moderators, I thought it would be good to define what we mean when we say "forums moderation". I put forth a definition and I'd love your input: https://openedx.atlassian.net/wiki/spaces/COMM/pages/3278995469/WIP+Forums+Moderation+on+Discourse

[2021-12-18 14:52] nizarmah commented on #50
@sarina I didn't leave a comment on confluence because I think the role definition looks good 👍🏼
1 login per week should be enough for moderation; ideally it would be a bit more frequent.

Thanks for creating a slack channel for discourse moderators though. I don't think it existed before, or I might have not been aware of it.

[2021-12-20 17:30] sarina commented on #50
@nizarmah thanks! I think 1x/week is on the low end, yes, but we have 15 moderator seats and everyone does at least 1x/week we should have good coverage. I'll add a note that more is encouraged.

[2021-12-24 02:39] antoviaque commented on #50
@sarina The rules look great! Thanks for putting them together. I've been doing most of these (and I go review/moderate once per week, so for me this frequency is perfect :p), but I've learned a couple of things reading the doc, so that was a useful read. I'm commenting directly on the page there, inline -- mostly small nits.

[2022-01-03 13:20] nizarmah opened #51 "Contributor's Meetup 2022-01-11"
## Date, time, and location

Tuesday January 11th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220111T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n

[2022-01-07 15:42] sarina commented on #50
I am going to close this as done.

https://openedx.atlassian.net/wiki/spaces/COMM/pages/3278995469/Forums+Moderation+on+Discourse has been reviewed and is close to if not at a finalized state.

I messaged all existing mods and removed those unable to continue moderating. I made sure to add any additional people to the Core Contributor page (https://openedx.atlassian.net/wiki/spaces/COMM/pages/3156

[2022-01-07 15:42] #50 closed

[2022-01-07 15:44] sarina opened #52 "[Core Contributors] Recruit 5 new Forum Mods (CC role)"
We have specified the forum mod role as a Core Contributor role, as detailed in https://github.com/openedx/community-wg/issues/50

Forum mod responsibilities are detailed here: https://openedx.atlassian.net/wiki/spaces/COMM/pages/3278995469/Forums+Moderation+on+Discourse

We will make a forum post inviting people to volunteer for this role. We may want to wait until https://github.com/openedx/open

[2022-01-07 15:45] sarina commented on #52
My preference is to hold off until OEP-54 is accepted, and another preference is to recruit some moderators who are not already in an existing CC role in order to expand the program.

[2022-01-11 13:47] #48 closed

[2022-01-25 14:00] nizarmah opened #53 "Contributor's Meetup 2022-01-25"
## Date, time, and location

Tuesday January 25th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220125T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n

[2022-01-25 14:31] #51 closed

[2022-01-27 00:40] sarina commented on #52
I'm working on identifying non-Core Contributor community members who the existing moderation team is okay with joining. I have messaged the mods privately and we are looking at some candidates; when we're in agreement, I'll reach out to those people asking if they want to participate.

If we can't fill all 5 slots, we'll ask for people who are interested in the role to self-nominate.

[2022-02-03 23:48] #53 closed

[2022-02-03 23:50] nizarmah opened #54 "Contributor's Meetup 2022-02-08"
## Date, time, and location

Tuesday February 8th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220208T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n

[2022-02-03 23:55] nizarmah commented on #54
Hello @jalondonot! I wasn't able to assign this issue to you as well, but this is the contributor's meetup for February 8th.

@sarina if there were no objections during the meetup about Jorge taking on the responsibility, would it be possible to provide Jorge with the necessary permissions to assign and close issues in this repository?

[2022-02-03 23:59] nizarmah commented on #54
Hello @angonz! I was wondering if you'd like to change the title for the "["New features" working group creation?](https://discuss.openedx.org/t/open-edx-contributors-meetup/1450/77)" topic/project. Let me know please 👍🏼

[2022-02-04 00:22] sarina commented on #54
Hi @nizarmah - I see you have `maintain` access, which is probably too high permission needed to just manage issues.

@jalondonot - I assigned you `triage` access, which grants permissions to manage issues. If there ends up being things you cannot do, just let me know.

[2022-02-04 02:10] angonz commented on #54
Hi Nizar!

I guess that Open edX Roadmap would be better. However the idea is still in formation.

Btw, I wiil be out of the office until feb 16th.

Regards,
Andrés

El 3 feb. 2022, a la(s) 20:59, Nizar ***@***.***> escribió:

﻿

Hello @angonz<https://github.com/angonz>! I was wondering if you'd like to change the title for the ""New features" working group creation?<https://discuss.openedx.org/t/

[2022-02-08 14:43] nizarmah commented on #54
@jmakowski1123 I wasn't sure if I should assign you as a "reference" for the marketing working group updates, but for the past couple of meetups, you provided the updates for the marketing working group.
Are you regularly attending the marketing working group meetups? If that's the case, would you mind if we rely on your help for the updates?

Let me know please.

[2022-02-09 17:31] nizarmah opened #55 "Contributor's Meetup 2022-02-22"
## Date, time, and location

Tuesday February 22nd at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

* [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
* [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9

[2022-02-09 17:33] #54 closed

[2022-02-09 17:47] nizarmah opened #56 "Onboard Jorge to handle the Contributor's Meetup's responsibilities"
@jalondonot will be taking over the responsibilities I have of the Contributor's Meetup starting:
- #55

Accordingly, the following needs to be done... Please note that the assignee of each item is tagged in it.

- [x] Give new assignee access to make changes to the Google Calendar (@nizarmah)

- [x] Add new assignee as "Assignee" to the relevant GitHub issues: (@nizarmah)
  - [x] #1
  - [x] #3

-

[2022-02-10 23:46] sarina commented on #52
I proactively contacted 4 outstanding forum members to see if they'd be interested, but only one replied (he said yes). I didn't hear back from the other 3.

I posted a general call here: https://discuss.openedx.org/t/call-for-forum-moderators/6592 - no one has replied or reached out to me.

Does anyone have any thoughts about ways we could get more traction on this?

[2022-02-10 23:48] sarina commented on #52
Hi @regisb @antoviaque @nizarmah - I'm tagging you as you were participants in this ticket's parent, https://github.com/openedx/community-wg/issues/50

I proactively contacted 4 outstanding forum members to see if they'd be interested, but only one replied (he said yes). I didn't hear back from the other 3.

I posted a general call here: https://discuss.openedx.org/t/call-for-forum-moderators/6592

[2022-02-11 16:16] nizarmah commented on #56
Hello @jalondonot! I shared the calendar with you, so you should be able to make the necessary changes to completely onboard yourself.

Please note that the changes are urgent, so the earlier they are done, the better. You'll also need to post a message on Slack 24 hours ahead of time, to the core contributors channel, to inform them that the meeting's link has changed.

Ping me if you have any qu

[2022-02-11 16:43] nizarmah commented on #52
@sarina @antoviaque @regisb I have some thoughts. Please note that I'm thinking out loud, so don't hold back any comments, you would be helping me refine my thoughts.

Can we create custom badges on Discourse for forum moderation, maybe one which gets awarded every year a member spends on forum moderation?
"Having something to show" for that forum moderation might be encouraging for some to volunt

[2022-02-15 17:29] sarina commented on #52
For now, I have found 3 new moderators who are excited, so I am pleased with that right now. We can continue to look for more but adding and supporting 3 people will be a good start.

I'm not sure how to do the "per year" award, but I am happy to make a badge.

I don't have an idea of what this might look like.

I would love to be able to award physical items, but it has been a problem in the past

[2022-02-15 17:48] sarina commented on #52
After I wrote this, I realized I think all moderators should weigh in here. Let's transfer this discussion to https://discuss.openedx.org/t/a-more-lively-rewarding-moderator-experience/6630 - I'm going to close this ticket so that we don't bifurcate the discussion.

[2022-02-15 17:48] #52 closed

[2022-02-16 16:53] idegtiarov commented on #55
@nizarmah I'd like to add an item to discuss the [depr issue](https://github.com/openedx/platform-roadmap/issues/21) from the Open edX RoadMap with the community.

[2022-02-16 17:21] OmarIthawi commented on #55
Ditto.

[2022-02-17 12:10] nizarmah commented on #55
@idegtiarov @OmarIthawi I added the item at the highest priority in the list, considering the activity on the issue.

In case you have any other changes you'd like to make to the agenda, please tag @jalondonot as he will be organizing and hosting the upcoming meetup 😃

[2022-02-17 12:17] #56 closed

[2022-02-22 16:09] jalondonot opened #57 "Contributor's Meetup 2022-03-08"
## Date, time, and location

Tuesday March 8th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g

[2022-02-22 16:36] jalondonot commented on #55
- [Meetup Recording](https://drive.google.com/file/d/1kFqPp7npXmDmC_q-Gnx-gBYbIJF7D259/view?usp=sharing)
- [Chat log](https://drive.google.com/file/d/1pjtV_35ojNFR1O0vSo0hCWvO0wmolvML/view?usp=sharing)

[2022-02-22 16:36] #55 closed

[2022-02-23 18:58] jmakowski1123 commented on #57
At the Meetup on 2022-02-22, I mentioned the idea for a new Product Working Group and promised that I would circulate a draft proposal for feedback. That proposal is here: https://docs.google.com/document/d/1u-2ScDQlR1riE5TtRv-6xN28fKIKv9rATOzr9rjwZ1w/edit

Though the scope of the proposed Product Working Group is largely outside the remit of the Contributor's Meetup, the need for such a WG arose

[2022-02-23 21:51] jalondonot commented on #57
I've just added the suggested topic, Jenna :)

[2022-03-08 15:14] ormsbee commented on #57
Link to the [GitHub DEPR project board](https://github.com/orgs/openedx/projects/9), in case anyone doesn’t already have it.

[2022-03-09 02:56] jalondonot opened #59 "Contributor's Meetup 2022-03-22"
## Date, time, and location

Tuesday March 22nd at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89

[2022-03-09 02:56] #57 closed

[2022-03-22 09:28] antoviaque commented on #59
@jalondonot @arbrandes I have added an item to the agenda, the 5th one: "Improvements and blockers - Retrospective", which is for discussing https://discuss.openedx.org/t/core-contributor-sprint-retro-march-4-18th/6876

[2022-03-24 05:25] jalondonot opened #60 "Contributor's Meetup 2022-04-05"
## Date, time, and location

Tuesday April 05th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89

[2022-03-24 05:34] #59 closed

[2022-03-24 14:10] antoviaque commented on #60
@jalondonot Thanks again for the great recap, and for hosting the discussions in the contributors meetup! Would you be ok with making it a recurring thing? We can see if it keeps being useful, and adapt/evolve it as needed -- but it's a good way to make sure any blockers or improvements needed by the core contributors are discussed.

[2022-03-25 10:15] antoviaque opened #61 "Document Core Contributors Sprints processes"
See https://discuss.openedx.org/t/core-contributors-sprints/6175/78 - document for core contributor sprints "when and where should I check in, meetings, other processes)"

[2022-03-25 16:49] jalondonot commented on #60
Thanks, @antoviaque! I totally agree. Based on what we saw last Tuesday, Including and discussing the identified blockers from the sprint retrospective might spark valuable discussions. I'll of course keep taking notes during the meeting since it proved to be valuable to the community :)

[2022-03-31 15:26] kdmccormick commented on #61
+1 for adding explanations of processes like check-ins, meetings, etc to the documentation on the wiki (or wherever else the "Responsibilities of CCs" documentation ends up living). There's a bunch of things CCs are supposed to do, and I'd love if they were all in one place.

[2022-03-31 16:29] sarina commented on #61
To copy my most recent comment from the forums:

Here's why I suggested the wiki:

* It already has a lot of Core Contributor content, so there may be people who go to this place for information.
* We are in the process of revamping our documentation entirely (information architecture particularly) so it doesn't feel like the right time to add a bunch of things to RTD. I think it would make sense

[2022-04-01 20:11] feanil commented on #60
@jalondonot for the New/Ongoing projects section, I'll have some more info regarding some documentation discovery that we recently did (Myself, Jenna M, and Mark H).  Can you add it to the low priority section.  I'll be announcing it more widely via other channels as well so no worries if the meeting is full but thought it might be a good place to publicize the work so far and seek feedback.

[2022-04-11 16:22] jalondonot opened #62 "Contributor's Meetup 2022-04-19"
## Date, time, and location

Tuesday April 19th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89

[2022-04-25 22:57] #62 closed

[2022-04-25 22:58] jalondonot opened #63 "Contributor's Meetup 2022-05-03"
## Date, time, and location

Tuesday May 3rd at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g5n

[2022-05-08 17:01] jalondonot opened #64 "Contributor's Meetup 2022-05-17"
## Date, time, and location

Tuesday May 17th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g5

[2022-05-08 17:15] #63 closed

[2022-05-17 13:48] antoviaque commented on #64
@jalondonot Since @e0d is telling me that he will have to leave before the end of the meeting, I'd suggest bumping it to (2) -- I'll do that update above now to not forget, but feel free to edit as you prefer.

[2022-05-17 14:33] antoviaque commented on #64
@jalondonot Actually, it turns out the end of the meeting is best after all for him -- so I'm moving the TOC item back. Sorry for the noise!

[2022-05-23 00:08] jalondonot opened #65 "Contributor's Meetup 2022-05-31"
## Date, time, and location

Tuesday May 31th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g5

[2022-05-23 00:09] #64 closed

[2022-06-08 01:50] jalondonot opened #66 "Contributor's Meetup 2022-06-14"
## Date, time, and location

Tuesday June 14th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g

[2022-06-08 01:55] #65 closed

[2022-06-15 14:38] jalondonot opened #67 "Contributor's Meetup 2022-06-28"
## Date, time, and location

Tuesday June 28th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g

[2022-06-15 14:38] #66 closed

[2022-07-05 22:45] jalondonot opened #68 "Contributor's Meetup 2022-07-12"
## Date, time, and location

Tuesday July 12th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g

[2022-07-05 22:47] #67 closed

[2022-07-15 02:23] jalondonot opened #69 "Contributor's Meetup 2022-07-26"
## Date, time, and location

Tuesday July 26th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n89g

[2022-07-15 02:24] #68 closed

[2022-08-02 22:01] jalondonot opened #70 "Contributor's Meetup 2022-08-09"
## Date, time, and location

Tuesday August 09th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n8

[2022-08-02 22:03] #69 closed

[2022-08-16 15:08] jalondonot opened #71 "Contributor's Meetup 2022-08-23"
## Date, time, and location

Tuesday August 23th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n8

[2022-08-16 15:14] #70 closed

[2022-08-26 02:45] jalondonot opened #72 "Contributor's Meetup 2022-09-06"
## Date, time, and location

Tuesday September 06th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s

[2022-08-26 02:47] #71 closed

[2022-09-13 14:31] sarina commented on #11
@mariajgrimaldi can I assign this to you? (if yes just comment with "assign me" 😄 )

[2022-09-13 14:42] mariajgrimaldi commented on #11
assign me

[2022-09-13 20:34] jalondonot opened #73 "Contributor's Meetup 2022-09-20"
## Date, time, and location

Tuesday September 20th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s

[2022-09-13 20:35] #72 closed

[2022-09-23 17:12] sarina commented on #13
Closing this out, the CC program is running pretty smoothly with Xavier, Dean, and myself all taking responsibilities for various activities.

[2022-09-23 17:12] #13 closed

[2022-10-04 14:48] jalondonot opened #74 "Contributor's Meetup 2022-10-04"
## Date, time, and location

Tuesday October 04th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n

[2022-10-11 22:03] #2 closed

[2022-10-18 01:47] antoviaque commented on #11
Btw, note that the upstreaming course, which is part of this effort, has just reached "beta" status, with the base course content being done. The next step will be to find testers -- we already have some from other communities participating to the project, but it could make sense to get some testers from the Open edX side, besides me. I'll likely do a post on the forum about this.

Current course

[2022-10-18 14:59] jalondonot opened #75 "Contributor's Meetup 2022-10-18"
## Date, time, and location

Tuesday October 18h at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9n8

[2022-11-01 12:48] jalondonot opened #76 "Contributor's Meetup 2022-11-01"
## Date, time, and location

Tuesday November 01th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9

[2022-11-15 07:35] jalondonot opened #77 "Contributor's Meetup 2022-11-15"
## Date, time, and location

Tuesday November 15th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9

[2022-11-29 13:28] jalondonot opened #78 "Contributor's Meetup 2022-11-29"
## Date, time, and location

Tuesday November 29th at 15:00 UTC ([Timezone converter](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Open+edX+Contributors+Meetup&iso=20220222T15&p1=1440&ah=1))

- [ical](https://calendar.google.com/calendar/ical/c_mvh2oito7s9n89g5nnkk49psks%40group.calendar.google.com/public/basic.ics)
- [gcal](https://calendar.google.com/calendar/embed?src=c_mvh2oito7s9

[2022-11-29 13:46] #73 closed

[2022-11-29 13:47] #74 closed

[2022-11-29 13:48] #75 closed

[2022-11-29 13:48] #76 closed

[2022-11-29 13:50] #77 closed